
label

{
  margin-top: 220px;
  padding: 40px 60px;
  border-radius: 20px;
  background-color: red;
  min-width: 10px;
  min-height: 400;
}

body {
  background-image: url(img/background\ pierre.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

  
   