

h1,h2,h3,h4 {
    text-decoration: underline;
    color:#A49A35;

    }

.text-center{
    text-align: center;
    
    
}

.right {
    float:right;
     margin:0 10px 0 20px;

}

#conteneur{
display: flex;
flex-direction:row;
}

#logoregion {
    width: 50px;
    height: 60px;
}

.ulrecette {
    color: white;
    
    
}

.element-e2
{
    margin-left: 20px;
}

.element-e3
{
    margin-left: 10px;
   
}


#rectangle1{
    width:500px;
    height:500px;
    background-color: #00000050;
    border-radius: 20px 20px 0px 0px;
    border-style :solid ;
    border-color: #A49A35;
    
}

.img-center {
    
    display: flex;
    
    justify-content: center;
}
#bg-img{
background-color: #00000050;
border-style :solid ;
border-color: #A49A35;
padding: 10px;
border-radius: 10px;
margin-top: 10px;
    
}