.ulrecette {
  color: white;
  font-size: large;
}

.rectangle1 {
  rotate: -10deg;
  margin-left: 1.5cm;
  margin-top: 3cm;
  padding: 15px;
  width: 1000px;
  height: 250px;
  background-color: #00000050;
  border-radius: 20px 20px 20px 20px;
  border-style: solid;
  border-color: #a49a35;
}

.text-center {
  font-size: 25px;
  color: rgb(255, 255, 255);
  position: center;
  text-align: center;
}

.red {
  color: red;
}

.white {
  color: rgb(255, 255, 255);
}

.blue {
  color: blue;
}

.img-chef {
    /* position: absolute; */
   margin-left: 1100px;
   margin-top: -8cm;
}
.img-burgi {
  height: 100px;
}
.second{
  display: flex;
  justify-content:center ;
}
.h1{
  color: rgb(255, 2, 2);
}
.img-star {
  height:60px;
  border: 0.5;
}
.bas{
display: flex;
justify-content: space-evenly;


}
.imgdim {
  height: 200px;
  width: 320px;
}
.bgimg{
  background-color: white;
  padding: 5px 5px 30px 5px;
}

.text-bas{
  text-align: center;
  color: azure;
  font-size: 20px;
  
  width: 320px;
}
.h4 {
  
  text-align: center;

}

.emp-but{
  
  display: flex;
  justify-content: flex-start ;
  margin-top: 50px;
  margin-left: 230px;
  }

.but-rec{
  text-decoration: none;
  color: #fff;
  border: none;
 font-size: 30px;
font-weight: bold;
background-color: grey;
padding: 1px 10px 1px 10px;
border-radius: 20px 20px 20px 20px;
}

.container {
  width: 90%;
  padding-right: 1px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  
}
  


