
.contenaire{
    margin-top: 100px;
    display: flex;
justify-content: space-evenly

}

h1 {
    color: #a49a35;
    text-align: center;
}
  
    
  
    
  
  
    
   
  
  
  
   
  
    
  
    
  
  
    
   
  