*{
    from-family:avenir,sans-serif;

}
.contenaire{
    margin-top: 100px;
    display: flex;
justify-content: space-evenly
    }

h1 {
     color: #a49a35;
     text-align: center;
}
  

  
.figure{
    border: 1px solid #a49a35;;
    padding:5px;
    width: 100px;
}
   
 figcaption{
    color:#a49a35 ;
    text-emphasis-color:#a49a35;
    text-align: center;
    font-stretch:extra-condensed;
 } 
  
  
   
  
    
  
    
  
  
    
   
  