body {
  overflow: hidden;
}
.game {
  background-color: #dbdadf;
  position: absolute;
  width: 600px;
  height: 200px;
  border: 1px solid rgb(46, 40, 40);
  border: 2px solid rgb(213, 209, 209);
  margin: 150px;
  margin-left: 500px;
}
.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img-jeux/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.4s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img-jeux/cactus.png");
  background-size: 20px 40px;

  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
#game-score {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
}
.score1 {
  
  margin-top: 10cm;
  margin-left: 16.3cm;
  color: azure;
}
.Top1 {
  font-size: xx-large;
  
}
.Top2 {
  font-size: x-large;
}
.Top3 {
  font-size: large;
}
.Ptop1 {
  height: 25px;
}
.Ptop2 {
  height: 25px;
}
.Ptop3 {
  height: 25px;
}
.consi {
  color: #edebf3;
  display: flex;
  justify-content: space-around;
  margin-left: 17cm;
  margin-right: 17cm;
  
  background-color: rgb(150, 147, 147);
  
  border-radius: 10px 10px 10px 10px;
}
.space{
margin-top: 0.5cm;
}

  
