body {
  font-family: "roboto", sans-serif;
  font-size: 2em;
  background-size: cover;
  background-image: url(../imgasset/background_pierre.png);
}

nav {
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.liennav {
   
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.justify-arroud {
   

  display: flex;
  justify-content: space-between;
}

.logo {
}

button{
    
    background-color: rgb(207, 197, 197);
    width: 75px;
    height: 35px;
    
    margin-left: 10em;
    border-radius: 70px;
    border: none;

}
header {
    padding-left: 30em
    
}