*{
    from-family:avenir,sans-serif;
}

.photo{

   margin-left: 500px;
}
.Versus{
    position: absolute;
width: 284px;
height: 160px;

}

.coloumn1{
    float: left;
}
.coloumn2{
    float: right;
}