body {
    display: flex;
    justify-content: center;
    align-items: center;
 
background-size: cover;
}
/* Centrer */
form{
    margin-top: 100px;   
    padding: 40px 60px;
    border-radius: 20px;
    min-width: 10px;
    min-height: 400;
    
}

.v-line{
    
    border-left: thick solid white;
    height: 80px;
    left: 500px; 
    
   }
.second{
    margin-top: 200px;
}
