.carte {
  margin-top: 50px;
  display: flex;
  justify-content:space-around;
  margin-left: 140px;
  
}
.titre {
  color: #a49a35;
  text-align: center;
  
}

area:hover {
  cursor: pointer;
  outline: 2px solid rgb(255, 1, 1);
 
}


.contenaire-c-r {
  display: flex;
  
  justify-content: space-around;
}
.region-block1 {
  text-decoration: none;
  margin-top: 120px;
  color: azure;
}

.region-block2 {
  margin-top: 120px;
  color: azure;
}

.logreg {
  width: 50px;
  height: 60px;
}

li {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.lien-region {
  text-decoration: none;
  color: white;
}
.lien-region:hover{
  color: rgb(228, 207, 48);
}
.logooccitanie {
  margin-left: -23px;
  width: 100px;
  height: 90px;
}
.el-liens {
  margin-right: 10px;
}

.bgimg{
  background-color: white;
  padding: 5px 5px 40px 5px;}

  .contener {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px
}

.imgdim {
  height: 200px;
  width: 320px;}

  h5 {
    color:white;
    font-size: 25px;
    text-align: center;
    }

  
h1{

  color: white;
}

.font-titre{
  font-family: 'italianno', sans-serif;
  font-size: 50px;
  
}